<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xws111.sqlpractice.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.xws111.sqlpractice.model.entity.Tag">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name, color, create_time,
        is_deleted
    </sql>

    <!-- 选择问题标签 -->
    <select id="getTagsByQuestionId" resultType="java.lang.String">
        SELECT t.name
        FROM tag t
                 LEFT JOIN question_tag qt ON t.id = qt.tag_id
        WHERE qt.question_id = #{id}
    </select>

</mapper>
